$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html {
  height: 100%;
}

header {
  background-color: #0F2043;
  color: #FFFFFF;
  padding: 10px 0 0;
}

h1 {
  border: solid;
  border-color: #D5A458;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 2px 2px #D5A458;
  text-transform: uppercase;
}

.userlogin {
  margin-top: 50px;
}

nav {
  background-color: #79CEDC;
  height: 40px;
  margin-top: 0;
  padding: 10px 0;
}

a {
  border-bottom: 2px solid transparent;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.scoreboardlink {
  margin-right: 250px;
}

.descriptionlink {
  margin-left: 0;
}

.signoutlink {
  float: right;
  margin-left: 0;
  margin-right: 0;
}

legend {
  color: #79CEDC;
}

main {
  border: solid;
  border-color: #D5A458;
  margin: 35px auto;
  width: 850px;
}

h2 {
  // color: #0D2C40;
  color: #79CEDC;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  border: solid;
  border-color: #D5A458;
  color: #fff;
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

body {
  background-color: #0F2043;
  background-position: center;
  background-size: cover;
  // color: #fff;
  font-family: 'Times New Roman', sans-serif;
  margin: 0;
  text-align: center;
}

img {
  margin: 40px 8px 0;
}

.btnsubmit {
  background-color: #0F2043;
  border: solid;
  border-color: #D5A458;
  color: #fff;
  font-family: 'Times New Roman', sans-serif;
  height: 25px;
  padding: 1px 0 20px;
  text-align: center;
  width: 80px;
}

.btnsubmit:hover {
  background-color: #79CEDC;
  color: #000;
}

.game-table {
  height: 200px;
  // margin-left: 325px;
  margin: 0 auto;
  width: 200px;

  td {
    border-color: #D5A458;
    border-style: solid;
    color: #FFF;
    font-size: 19px;
    height: 30px;
    width: 50px;
  }

  tr {
    width: 100px;
  }
}

.form-inputs {
  // margin-left: 20px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 850px;

  table,
  tr,
  td {
    border: 0;
    border-collapse: collapse;
  }

  td {
    width: 300px;
  }

  .games {
    button {
      background-color: #0F2043;
      border: solid;
      border-color: #D5A458;
      color: #fff;
      margin: 5px 5px 0 0;
      width: 150px;
    }

    button:hover {
      background-color: #79CEDC;
      color: #000;
    }
  }

  .games-elements {
    height: 85px;
    margin: 5px 5px 0 0;
    padding: 0;
    width: 209px;

    input {
      font-size: 14px;
      width: 100px;
    }

    button {
      margin: 0;
    }
  }
}

.results {
  border-color: #D5A458;
  color: #fff;
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  width: 500px;

  th {
    border-bottom: solid;
    border-color: #D5A458;
    text-align: center;
  }

  .td0,
  .td1 {
    border-color: #D5A458;
    border-right: solid;
  }
}

label {
  background-color: #fff;
  border: solid;
  border-color: #D5A458;
  border-width: .5px;
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
  text-align: center;
}

footer {
  background-color: #0F2043;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .08em;
  margin-top: 200px;
  padding: 0 20px;
  text-shadow: 1px 1px #D5A458;
  text-transform: uppercase;
}

.copyright {
  float: left;
  font-family: 'Raleway', sans-serif;
}

.footermessage {
  float: right;
  font-family: 'Raleway', sans-serif;
}

.name {
  color: #79CEDC;
  font-weight: 700;
}

@media (max-width: 500px) {

  header {
    background-size: 500px 600px;
  }

  h1 {
    font-size: 20px;
    margin: 0;
  }

  .userlogin {
    margin-top: 30px;
  }

  nav {
    display: block;
    height: 120px;
    text-align: center;
  }

  .descriptionlink,
  .gamelink,
  .scoreboardlink,
  .changepasswordlink {
    margin: 0 auto;
  }

  .signoutlink {
    margin-right: 150px;
  }


  a {
    display: block;
    font-size: 13px;
    padding: 1px;
    text-align: center;
  }

  main {
    max-width: 100%;
    overflow-x: hidden;
  }

  h2 {
    font-size: 15px;
    margin: 0;
  }

  body {
    font-size: 13px;
    height: 1000px;
  }

  label {
    font-size: 13px;
  }

  em {
    font-size: 13px;
  }

  legend {
    font-size: 15px;
  }

  input {
    font-size: 13px;
    width: 92px;
  }

  .forminputs {
    height: 250px;
  }

  .form-inputs {
    tr {
      display: block;
      margin-bottom: 0;
      margin-left: 15px;
      margin-top: 25px;
    }

    td {
      display: block;
      margin: 10px;
    }

    .games {
      button {
        font-size: 12px;
        width: 150px;
      }

      .games-elements {
        margin-left: 40px;

        input {
          font-size: 9px;
          width: 65px;
      }
    }
  }
}

  .results {
    font-size: 13px;
    margin-top: 10px;
    width: 300px;
}

  footer {
    margin-bottom: 500px;

    p {
      font-size: 10px;
    }
  }
}
