$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

header {
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  // color: #FFFFFF;
  padding: 20px 0;

  a {
    color: #FFFFFF;
    margin: 0 125px;
  }
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

a {
  border-bottom: 2px solid transparent;
  color: #F15B31;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;

  // .hover {
  //   border-color: #FFFFFF;
  // }
}

main {
  margin: 35px auto;
  width: 850px;
}

h2 {
  color: #0D2C40;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  color: #FFF;
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 26px;
}

body {
  background-color: #F0650E;
  background-position: center;
  background-size: cover;
  // color: #fff;
  margin: 0;
  text-align: center;
}

img {
  margin: 40px 8px 0;
}

button {
	font-family: "Droid Serif", serif;
	text-align: center;
	background-color: #00A6B3;
	font-size: 18px;
	color: #000;
	width: 150px;
	height: 35px;
	margin: 20px 0;
	padding: 5px 0 20px 0;
}

.game-table {
  height: 200px;
  // margin-left: 325px;
  margin: 0 auto;
  width: 200px;

  td {
    border-color: #FFF;
    border-style: solid;
    color: #FFF;
    font-size: 19px;
    height: 30px;
    width: 50px;
  }

  tr {
    width: 100px;
  }
}

.form-inputs {
  // margin-left: 20px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  table,
  tr,
  td {
    border: 0;
    border-collapse: collapse;
  }

  td {
    width: 300px;
  }

  .games {
    button {
      margin: 5px 50px 0 0;
      width: 150px;
    }
  }
  .games-elements {
    height: 85px;
    margin: 5px 50px 0 0;
    padding: 0;
    width: 209px;
    input {
      font-size: 14px;
      width: 100px;
    }
    button {
      margin: 0;
    }
  }
}

.results {
  color: #fff;
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  margin: 0 auto;
  width: 500px;

  th {
    border-bottom: solid;
    text-align: center;
  }
  .td0,
  .td1 {
    border-color: #fff;
    border-right: solid;
  }
}

label {
  background-color: #fff;
  font-family: 'Raleway', serif;
  font-size: 18px;
  text-align: center;
}

.boardmessage {
  color: #F0650E;
  width: 200px;
}

.copyright {
  float: left;
  font-family: 'Raleway', serif;
}

.footermessage {
  float: right;
}

footer {
  background-color: #0D2C40;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .08em;
  padding: 0 20px;
  text-transform: uppercase;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
